.card-symbol {
    rotate: 180deg;
    width: 100%;
    height: 28px;
    background-repeat: no-repeat;
    background-position: center;
}

.hearts {
    background-image: url(../../../hearts.svg);
    height: 25px;
}

.diamonds {
    background-image: url(../../../diamonds.svg);
    height: 30px;
}

.clubs {
    background-image: url(../../../clubs.svg);
}

.spades {
    background-image: url(../../../spades.svg);
}